Shelter_Hervas/.idea/
/Shelter_Hervas/obj
/Shelter_Hervas/Shelter_Hervas.Application/obj
/Shelter_Hervas/Shelter_Hervas.Domain/obj/
/Shelter_Hervas/Shelter_Hervas.Infrastructure/obj
/Shelter_Hervas/Shelter_Hervas.Infrastructure/obj
Shelter_Hervas/Shelter_Hervas.Domain/obj/Debug/net10.0/Shelter_Hervas.Domain.AssemblyInfo.cs
Shelter_Hervas/obj/Debug/net10.0/Shelter_Hervas.Web.AssemblyInfo.cs
Shelter_Hervas/obj/Debug/net10.0/Shelter_Hervas.Web.AssemblyInfoInputs.cache
Shelter_Hervas/Shelter_Hervas.Application/obj/Debug/net10.0/Shelter_Hervas.Application.AssemblyInfo.cs
