Shelter_Hervas/.idea/
/Shelter_Hervas/obj
/Shelter_Hervas/Shelter_Hervas.Application/obj
/Shelter_Hervas/Shelter_Hervas.Domain/obj/
/Shelter_Hervas/Shelter_Hervas.Infrastructure/obj
/Shelter_Hervas/Shelter_Hervas.Infrastructure/obj
